<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>
<form name="login" action="loginSuccess" method="post">
<div class="wrap">
    <input type="text" placeholder="请输入已验证手机/邮箱" class="myInput" name="username">
    <input type="text" placeholder="请输入密码" class="myInput1" name="password">
    <div class="password">忘记密码?</div>
    <button id="theBtn">登录</button>
</div>
</form>
</body>
</html>
